body{
    background-color: #f7f7f7;
    font-family: "Poppins", sans-serif !important;
    font-weight: normal;
    font-style: normal;
    color: #2A2624;
}

.cursor-pointer{
    cursor: pointer;
}

.text-white{
    color: white;
}

.footer-menu ul{
    padding-left: 15px;
}

.footer-menu ul li{
    padding: 5px;
}

.color-primary{
    color: #F2542E;
}

.fs-15{
    font-size: 15px;
}
.card-category{
    font-size: 15px;
}

.card{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.time{
    text-transform: uppercase;
}

.card-time{
    position: absolute;
    top: 11rem;
    width: 100%;
    background-color: #91311B;
    padding: 0.5rem;
    font-size: 15px;
    color: #f9f9f9;
    text-align: center;
}

.navbar-collapse input{
    background: #EBEBEB;
    border-radius: 10px;
}

.card-title{
    font-size: 18px;
    font-weight: 600;
    color: #1E1712;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-secondary{
    color: #B1B0AF;
}

.color-title{
    color: #595753;
}

.card-img-top{
    border-radius: 10px 10px 0 0;
}

.btn-primary{
    background-color: #F2542E !important;
    border-color: #F2542E !important;
}

.btn-outline-primary{
    border-color: #F2542E;
    color: #F27658;
}
.btn-outline-primary:hover{
    background-color: #F2542E;
    border-color: #F2542E;
    color: white;
}

.header-name{
    font-weight: 600;
}

.header-section{
    margin-top: 5rem;
}

.navbar-custom{
    background-color: white !important;
    height: 80px;
}

.input-search{
    border-radius: 10px;
}

.btn-search{
    border-radius: 10px;
}

.navbar-nav li a:hover{
    color: #F2542E !important;
}


.ds-banner{
    height: 500px;
    width: 100%;
}

.ds-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.group-icon{
    cursor: pointer;
}

.body-icon{
    background: #FDE5E0;
    padding: 2rem;
    border-radius: 50%;
    height: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds-banner-event{
    background-image: url('../../public/image/background.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    width: 100%;
    height: 400px;
}

.tagline-group{
    width: 85%;
    text-align: start;
}

.tagline{
    color: #551E10;
    font-weight: 600;
    font-size: 50px;
}

.btn-all a{
    padding: 1rem;
    border-radius: 10px;
}

.img-event img{
    height: 400px;
}

.content-event{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 7rem;
}

.banner-event-card{
    height: 215px;
}

.banner-event-card img{
    object-fit: cover;
    height: 100%;
}

//event pervious
.image-container {
    position: relative;
}

.image-container {
    filter: brightness(50%);
    transition: filter 0.3s ease;
}


.image-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    font-size: 35px;
    border-radius: 5px;
}

.content-footer{
    background-color: #221E1C;
}

.content-footer .row{
    max-width: 100%;
}

.description{
    max-width: 60%;
    text-align: justify;
}

.footer-name{
    font-weight: 600;
    color: white;
}

// EVENT DETAIL

.card-info{
    text-align: center;
    font-weight: bold;
    position: relative;
}

.purchase{
    padding-top: 1rem;
}

.purchase h3{
    font-weight: 600;
}

.line-title{
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: -10px;
    border-bottom: 2px solid #F2542E;
}
.map{
    display: flex;
    padding: 1rem;
}

.btn-direction{
    font-size: 15px;
    padding: 12px 75px;
    font-weight: bold;
}

.map-details{
    max-width: 25rem;
}

.map-details h1{
    font-size: 30px !important;
}

.ticket-box p{
    margin: 0;
    color: #7a7a7a;
    margin-right: 5%;
}

.txt-ticket p {
    margin: 0;
}

.grand-total p{
    color: #F03A11;
    font-size: 20px;
    font-weight: bolder;
}

.label-purchase{
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    border: 1px solid grey;
    border-radius: 0.7rem 0 0 0.7rem;
    background-color: #e9ecef;
    opacity: 1;
    border: none;
}

.form-group input{
    padding: 0.75rem;
    border-radius: 0 0.7rem 0.7rem 0;
    border: none;
}

.personal-data .label-purchase{
    padding: 1rem;
}

.personal-data input{
    border: 1px solid grey;
}

.personal-data input:focus{
    color: #212529;
    border: 1px solid grey;
    outline: 0;
    box-shadow: none !important;
}
.quantity-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    background-color: #fef3ef;
    color: #f7a28f;
}
.btn-ticket{
    width: 100%;
    border-radius: 0.7rem;
}

#ticket-quantity {
    font-size: 18px;
}


#ticket-quantity {
    margin: 0 10px;
}

@media screen and (max-width:1400px) {
    .card-event  .card{
        width: 17rem !important;
    }

}

@media screen and (max-width:1200px) {
    .card-event  .card{
        width: 14rem !important;
    }

    .card-time{
        top: 7rem;
    }

}
@media screen and (max-width:993px) {
    .card-event .card{
        width: 20rem !important;
    }
    .navbar-custom{
        height: auto;
    }

   .body-icon{
    width: 50px;
    height: 50px;
    padding: 1rem;
   }

   .card-time{
    top: 11rem;
    }
}

@media screen and (max-width:768px) {
    .card-event .card{
        width: 15rem !important;
    }
    .description{
        max-width: 100%;
        text-align: justify;
    }

    .profile-footer{
        text-align: center;
    }

    .profile-footer img{
        width: 25% !important;
    }

    .card-time{
        top: 8rem;
    }

    .ds-banner-event{
        height: auto;
    }

    .content-event{
        margin-left: 0;
        justify-content: center;
        padding: 1rem;
    }
}

@media screen and (max-width:576px) {
    .card-event .card{
        width: 14rem !important;
    }
}

@media screen and (max-width:470px) {
    .card-event .card{
        width: 12rem !important;
    }

    .card-time{
        top: 6rem;
    }
}

@media screen and (max-width:400px) {
    .card-event .card{
        width: 10rem !important;
    }

    .card-time{
        top: 5rem;
    }
}
