.mr-2{
    margin-right: 10px;
}
.menu-sub{
    margin-left: 20px;
}

.color-primary{
    color: #5AA3F8;
}

.main-header-area{
    position: fixed;
    width: 100%;
    z-index: 8; 
    margin-bottom: 10%;
    background: linear-gradient(to right,rgb(255,185,0), rgb(177,33,179));;
    padding-top: 1rem;
}

.nav-a{
    text-decoration: none !important;
    cursor: pointer;
}

.icon{
    font-size: 25px;
}

.description-event{
    font-weight: 500;
}

.header-title{
    font-weight: 700;
    margin-top: 2rem;
}

.btn-detail{
    border-radius: 20px;
    width: 20%;
    border: 2px solid black;
}

.btn-book{
    border-radius: 20px;
    width: 20%;
    background-color: #5AA3F8;
    color: white;
}

.btn-book:hover{
    color: white;
}

.btn-detail:hover{
    background-color: #5AA3F8;
    color: white;
    border: none;
    transition: 0.3;
}

.organizer{
    color: #5AA3F8;
    font-weight: 500;
}

.menu-sub li a{
    margin-top: 10px !important;
    padding: 10px 0 0 0 !important;
}

.submenu-toggle-icon::before {
    content: "▼";
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s;
}

.sidebar-item.active .submenu-toggle-icon::before {
    transform: rotate(90deg);
}

.menu-sub {
    display: none;
}

.sidebar-item.active .menu-sub {
    display: block;
}

// EVENT DETAIL
.map h1{
    margin-left: 10px;
    font-weight: bold;
}

.ticket-box {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 340px;
    margin: 0 auto;
}

.ticket-box p{
    margin: 0;
    color: #7a7a7a;
    margin-right: 5%;
}

.txt-ticket p {
    margin: 0; 
}

.txt-ticket {
    display: flex;
    margin-left: 15px;
}

.quantity-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

#ticket-quantity {
    font-size: 18px;
}


#ticket-quantity {
    margin: 0 10px;
}


